nav 
    ul
        li 
            a(href="") Computer
        li 
            a(href="") Laptop
        li 
            a(href="") Tablet & Telefonie
        li 
            a(href="") Hardware
        li 
            a(href="") Software
        li 
            a(href="") Randapparatuur
        li 
            a(href="") Opslag
        li 
            a(href="") Netwerk
        li 
            a(href="") Thuis & Kantoor
        li 
            a(href="") Gaming
        li 
            a(href="") Beveiliging
        li 
            a(href="") Kabel & Converter